$color--1: #ff7400;
$color--2: #1c1c1c;
html,
body {
    height: 100%;
}

.bg-dark {
    background: #1c1c1c !important;
}

.s--dark {
    p {
        color: #fafafa;
    }
    h5 {
        color: #fff;
    }
}

.p-container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 70vh;
    justify-content: space-around;
    position: relative;
    width: 100%;
    .overlay-shadow {
        position: absolute;
        backgroud: linear-gradient(to right bottom, #e8962e, #e45131);
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: .85;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7400+0,ff7400+100;Orange+Flat */
        background: #ff7400;
        /* Old browsers */
        background: -moz-linear-gradient(top, #ff7400 0%, #ff7400 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff7400 0%, #ff7400 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff7400 0%, #ff7400 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400', GradientType=0);
        /* IE6-9 */
    }
}

.p-container section {
    width: 100%;
    height: 70vh;
    flex: 1;
    display: flex;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.p-container section:nth-child(1) .image {
    background-image: url(/images/x_2.jpg);
}

.p-container section .image {
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    opacity: 1;
}

.p-container section .stuff {
    z-index: 1000;
    color: $gray-100;
    margin: 0 auto;
    font-size: $font-size-lg;
    position: relative;
    font-weight: $font-weight-bold;
}

.p-container section .stuff h2 {
    margin: 0px;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 45px;
}

.s--1 {
    .services {
        img {
            width: 200px;
        }
        h3.service-text {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
            margin-top: 0;
        }
        p.service-text {
            font-size: 14px;
            color: #777;
        }
    }
    a {
        color: $color--1;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.69);
    transition: all 0.3s ease-in-out !important;
    &:hover {
        color: $color--1;
    }
    &:active {
        color: $color--1;
    }
}

.footer li a {
    color: #6c757d;
    transition: all 0.3s ease-in-out !important;
    &:hover {
        color: $color--1;
        text-decoration: none;
    }
    &:active {
        color: $color--1;
    }
}

.btn--a {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
}

.st-out {
    color: $color--1 !important;
}

.price--wrapper {
    font-family: Arial;
    font-weight: bold;
}

.subpage--wrapper {
    .p-container {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 250px;
        justify-content: space-around;
        position: relative;
        width: 100%;
        .overlay-shadow {
            position: absolute;
            backgroud: linear-gradient(to right bottom, #e8962e, #e45131);
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            opacity: .85;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7400+0,ff7400+100;Orange+Flat */
            background: #ff7400;
            /* Old browsers */
            background: -moz-linear-gradient(top, #ff7400 0%, #ff7400 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ff7400 0%, #ff7400 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ff7400 0%, #ff7400 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#ff7400', GradientType=0);
            /* IE6-9 */
        }
    }
}